@import '../../style/variables.css';

:root {
	--one-pxl-solid: 0.0625rem solid;
	--border-1-gray: var(--one-pxl-solid) var(--gray-light-2);
}

.def-inp {
	outline: none;
	border: var(--border-1-gray);
}

.def-inp:focus {
	border: var(--one-pxl-solid) var(--blue-darker);
}

.bottom-bdr {
	border: 0;
	border-bottom: var(--border-1-gray);
}

.bottom-bdr:focus {
	outline: none;
	border-bottom: var(--one-pxl-solid) var(--blue);
}

.label-parent{
	display: flex;
	width: 100%;
	flex-direction: column;
	text-align: left;
	padding: 10px 10px 4px 10px;
	margin: 15px;
	background: #fff;
	border-radius: 8px;
}
.label-parent>label {
	font-size: 20px;
}

.label-parent>label, input {
	color: #40c0a8;
	font-weight: 900;
	border-color: #82cec3;
}
::placeholder {
	color: #40c0a8;
}
