.card-wrapper {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.card-border {
	border: 1px solid #eaeaea;
	padding: 5px;
	border-radius: 2px;
}
.card-li {
	display: block;
}
.card-title {
	font-weight: 900;
	font-size: 1.2rem;
}
.card-body {
	font-weight: 300;
	white-space: normal;
}
.card-foot {
	font-weight: 500;
	color: #999;
}
.card-li b {
	color: #008cbd;
}
