@import '../../style/variables.css';

.btn {
	padding: .858em .96em;
	min-width: 3em;
	box-sizing: border-box;
    cursor: pointer;
	height: 70px;
}

.btn-rounded {
	border-radius: 6.25rem;
}

.btn-block {
	margin: auto;
	max-width: 100%;
}

.btn[disabled] {
	background-color: var(--gray-light-3);
	color: var(--gray-light-1);
	box-shadow: none;
	cursor: not-allowed;
}

.btn-disabled {
	background-color: var(--gray-light-3);
	color: var(--gray-light-1);
	box-shadow: none;
	pointer-events: none;
	outline: none;
}
.btn-active {
    background: #0bc391b3;
    color: white;
}
.btn:hover, .btn:active {
    background: #f0fff1;
	color: #0bc391b3;
}
.btn-active:hover, .btn-active:active {
    background: rgba(11, 195, 145, 0.54);
	color: white;
}

.btn-group {
	display: flex;
	margin: 15px;
}

.btn-group .btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
	border-left-width: 0;
}
.btn-group .btn:last-child:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: -.05rem;
	border-left-width: 1px;
}

.btn>img{
	height: 45px;
	width: auto;
	cursor: pointer;
}
.btn-sm-font{
	font-size: 25px;
	padding-top: 20px;
	width: 45px;
}
