@import '../componentLib/card/card.css';
@import '../componentLib/input/input.css';
@import '../componentLib/button/button.css';

.app-root{
    width: 100%;
    height: 100%;
}

.smiley-selector{
    width: 100%;
    overflow-y: auto;
    text-align: left;
}
.smiley-selector>.btn,
.text-container>.btn{
    padding: 10px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    display: inline-block;
}

.clickable-gif-parent{
    float: left;
}

.tog-img:checked + label{
    display: none;
}

label.clickable-gif{
    height: 150px;
    position: relative;
    margin: 1px;
    border: 1px solid #50cfaf5e;
}
.clickable-gif, .clickable-gif *{
    cursor: pointer;
}
.clickable-gif>img,.clickable-gif>video{
    height: 100%;
    width: auto;
    position: static;
}
.clickable-gif .handler, .clickable-gif .handler-1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    border: 1px solid #0bc391;
    background: #4ac9adab;
    height: 20px;
    width: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    opacity: .5;
}
.clickable-gif .handler:hover, .clickable-gif .handler-1:hover,
.clickable-gif .handler:active, .clickable-gif .handler-1:active{
    opacity: .9;
}

.clickable-gif .handler-1{
    border: 1px solid rgba(11, 195, 145, 0.16);
    background: rgba(74, 201, 173, 0.19);
    bottom: 0;
    right: 0;
    width: 50px;
    top: unset;
    height: 20px;
    color: #0bc391;
    opacity: .8;
}

.text-container {
    display: block;
    height: 150px;
    padding: 10px;
    overflow: auto;
    background: #ffffff80;
    margin: 10px;
    border: 5px solid #43c2aaa6;
    border-radius: 10px;
    box-shadow: -5px 14px 15px -6px rgba(0,0,0,0.75);
}
.smiley-selector {
    position: relative;
}
[data-title]:hover:before {
    content: attr(data-title);
    position: fixed;
    border: 3px solid #0bc390;
    border-width: 3px 0 0 3px;
    right: 0;
    bottom: 0;
    background: #ffffffc2;
    color: black;
    padding: 20px;
    border-radius: 25px 0 0 0;
    font-weight: 900;
    font-size: 20px;
    box-shadow: -3px -3px 19px 7px rgba(0,0,0,0.62);
    z-index: 9;
}
